<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conf.template.db.mapper.ConfOperateInfoMapper">
  <resultMap id="BaseResultMap" type="com.conf.template.db.model.ConfOperateInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="operate_module" jdbcType="INTEGER" property="operateModule" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="success" jdbcType="INTEGER" property="success" />
    <result column="teller" jdbcType="VARCHAR" property="teller" />
    <result column="org" jdbcType="VARCHAR" property="org" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, serialNo, operate_type, operate_module, remark, module_id, module_name, request, success, teller, 
    org, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conf_operate_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from conf_operate_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.conf.template.db.model.ConfOperateInfo">
    insert into conf_operate_info (id, serialNo, operate_type, operate_module, 
      remark, module_id, module_name, request, 
      success, teller, org, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{serialNo,jdbcType=VARCHAR}, #{operateType,jdbcType=INTEGER}, #{operateModule,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{request,jdbcType=VARCHAR}, 
      #{success,jdbcType=INTEGER}, #{teller,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.conf.template.db.model.ConfOperateInfo">
    insert into conf_operate_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serialNo != null">
        serial_no,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operateModule != null">
        operate_module,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="request != null">
        request,
      </if>
      <if test="success != null">
        success,
      </if>
      <if test="teller != null">
        teller,
      </if>
      <if test="org != null">
        org,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serialNo != null">
        #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateModule != null">
        #{operateModule,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="success != null">
        #{success,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.conf.template.db.model.ConfOperateInfo">
    update conf_operate_info
    <set>
      <if test="serialNo != null">
        serial_no = #{serialNo,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateModule != null">
        operate_module = #{operateModule,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>      
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        request = #{request,jdbcType=VARCHAR},
      </if>
      <if test="success != null">
        success = #{success,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        teller = #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        org = #{org,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.conf.template.db.model.ConfOperateInfo">
    update conf_operate_info
    set serial_no = #{serialNo,jdbcType=VARCHAR},
      operate_type = #{operateType,jdbcType=INTEGER},
      operate_module = #{operateModule,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      module_id = #{moduleId,jdbcType=INTEGER},
      module_name = #{moduleName,jdbcType=VARCHAR},
      request = #{request,jdbcType=VARCHAR},
      success = #{success,jdbcType=INTEGER},
      teller = #{teller,jdbcType=VARCHAR},
      org = #{org,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectTotalRecord" resultType="java.lang.Integer">
  	select count(1) from conf_invok_info t
  	<where>
	   <if test="operateType != null">
	        and t.operate_type like '%${operateType}%' 
	   </if>
	   <if test="operateModule != null">
	        and t.operate_module like '%${operateModule}%' 
	   </if>
   	</where>
  </select>
  <select id="selectRecordWithPage" resultMap="BaseResultMap">
  	select t.* from conf_invok_info t
  	<where>
	   <if test="operateType != null">
	        and t.operate_type like '%${operateType}%' 
	   </if>
	   <if test="operateModule != null">
	        and t.operate_module like '%${operateModule}%' 
	   </if>
   	</where>  
   	order by t.id desc
   	limit #{startNum},#{pageSize}
  </select>
</mapper>