<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conf.template.db.mapper.ConfNodeTemplateMapper">
  <resultMap id="BaseResultMap" type="com.conf.template.db.model.ConfNodeTemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="teller" jdbcType="VARCHAR" property="teller" />
    <result column="org" jdbcType="VARCHAR" property="org" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node_id, uid, teller, org
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conf_node_template
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from conf_node_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByIdAndUid" >
    delete from conf_node_template
    where node_id = #{nodeId}
    and uid = #{uid}
  </delete>
  
  <insert id="insert" parameterType="com.conf.template.db.model.ConfNodeTemplate">
    insert into conf_node_template (node_id, uid, 
      teller, org)
    #{nodeId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{teller,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.conf.template.db.model.ConfNodeTemplate">
     <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
   		SELECT LAST_INSERT_ID()
    </selectKey>
    insert into conf_node_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="teller != null">
        teller,
      </if>
      <if test="org != null">
        org,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.conf.template.db.model.ConfNodeTemplate">
    update conf_node_template
    <set>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        teller = #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        org = #{org,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.conf.template.db.model.ConfNodeTemplate">
    update conf_node_template
    set node_id = #{nodeId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      teller = #{teller,jdbcType=VARCHAR},
      org = #{org,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>