<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conf.template.db.mapper.ConfProductStepMapper">
  <resultMap id="BaseResultMap" type="com.conf.template.db.model.ConfProductStep">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="step_id" jdbcType="INTEGER" property="stepId" />
    <result column="flow_id" jdbcType="INTEGER" property="flowId" />
    <result column="teller" jdbcType="VARCHAR" property="teller" />
    <result column="org" jdbcType="VARCHAR" property="org" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />       
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_name, business_type, step_id, flow_id, teller, org, create_time, 
    update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conf_product_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from conf_product_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.conf.template.db.model.ConfProductStep">
    insert into conf_product_step (product_id, product_name, 
      business_type, step_id, flow_id, 
      teller, org, create_time, 
      update_time)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{stepId,jdbcType=INTEGER}, #{flowId,jdbcType=INTEGER}, 
      #{teller,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.conf.template.db.model.ConfProductStep">
 	 <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
   		SELECT LAST_INSERT_ID()
 	  </selectKey>
    insert into conf_product_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="stepId != null">
        step_id,
      </if>
      <if test="flowId != null">
        flow_id,
      </if>
      <if test="teller != null">
        teller,
      </if>
      <if test="org != null">
        org,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.conf.template.db.model.ConfProductStep">
    update conf_product_step
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="stepId != null">
        step_id = #{stepId,jdbcType=INTEGER},
      </if>
      <if test="flowId != null">
        flow_id = #{flowId,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        teller = #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        org = #{org,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.conf.template.db.model.ConfProductStep">
    update conf_product_step
    set product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      step_id = #{stepId,jdbcType=INTEGER},
      flow_id = #{flowId,jdbcType=INTEGER},
      teller = #{teller,jdbcType=VARCHAR},
      org = #{org,jdbcType=VARCHAR},
       delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryCount" resultType="java.lang.Integer">
  select count(1) from conf_step_info t
  <where>
	  <if test="nodeId != null and nodeId != ''">
	        and t.node_id like '%${nodeId}%' 
	   </if>
	   <if test="nodeName != null and nodeName != ''">
	        and t.node_name like '%${nodeName}%'
	   </if>
	   <if test="stepId != null and stepId != ''">
	        and t.step_id = #{stepId}
	   </if>
	   and t.delete_flag = 0
   </where>
  </select>
  
  <select id="queryStep" resultMap="BaseResultMap">
  select t.* from conf_step_info t
  <where>
	  <if test="nodeId != null and nodeId != ''">
	        and t.node_id like '%${nodeId}%' 
	   </if>
	   <if test="nodeName != null and nodeName != ''">
	        and t.node_name like '%${nodeName}%'
	   </if>
	   <if test="stepId != null and stepId != ''">
	        and t.step_id = #{stepId}
	   </if>
   </where>  
   order by t.node_id desc
   limit #{startNum},#{pageSize}
  </select>
  <select id="queryStepList" resultMap="BaseResultMap">
  select s.step_id, s.step_name from conf_step_info s, conf_product_step p
  <where>
      s.step_id = p.step_id
	  <if test="productId != null and productId != ''">
	        and p.product_id = #{productId} 
	   </if>
	   <if test="nodeId != null and nodeId != ''">
	        and s.node_id = #{nodeId}
	   </if>
   </where>  
  </select>
  
  <select id="queryCountByStep"  resultType="java.lang.Integer">
 	select count(1)
    from  conf_product_step ps 
    <where>
    <if test="stepId != null">
   	 and ps.step_id = #{stepId}
   	</if>
   	 <if test="flowId != null">
   		and ps.flow_id = #{flowId}
      </if> 
       <if test="productId != null">
   		and ps.product_id = #{productId}
      </if>
       <if test="businessType != null">
   		and ps.business_type = #{businessType}
      </if>
   	and ps.delete_flag = 0
   	</where>
  </select>
  
  <select id="queryIdByCondition"  resultMap="BaseResultMap">
 	select ps.id, ps.delete_flag
    from  conf_product_step ps 
    <where>
    <if test="stepId != null and stepId != ''">
   	 and ps.step_id = #{stepId}
   	</if>
   	 <if test="flowId != null and flowId != ''">
   		and ps.flow_id = #{flowId}
      </if> 
       <if test="productId != null and productId != ''">
   		and ps.product_id = #{productId}
      </if>
       <if test="businessType != null and businessType != ''">
   		and ps.business_type = #{businessType}
      </if>
   	</where>
  </select>
  
  <select id="queryListByProductIdAndBusinessType"  resultMap="BaseResultMap">
 	select ps.id, ps.step_id, ps.flow_id
    from  conf_product_step ps 
    <where>
       <if test="productId != null">
   		and ps.product_id = #{productId}
      </if>
       <if test="businessType != null">
   		and ps.business_type = #{businessType}
      </if>
   	
   	</where>
  </select>
  
  <select id="queryListByStepAndFlow"  resultMap="BaseResultMap">
 	select ps.product_id
    from  conf_product_step ps 
    <where>
       <if test="stepId != null">
   		and ps.step_id = #{stepId}
      </if>
       <if test="flowId != null">
   		and ps.flow_id = #{flowId}
      </if>
   	</where>
  </select>
</mapper>