<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.conf.template.db.mapper.ConfProductNodeMapper">
  <resultMap id="BaseResultMap" type="com.conf.template.db.model.ConfProductNode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="effect" jdbcType="VARCHAR" property="effect" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="teller" jdbcType="VARCHAR" property="teller" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="org" jdbcType="VARCHAR" property="org" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />    
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />   
  </resultMap>
  <resultMap type="com.conf.template.db.dto.ConfNodeInfoAndProduct" id="NodeByProductMap">
  <id column="product_id" property="productId"/>
  <id column="product_name" property="productName"/>
  <collection property="nodeList" select="com.conf.template.db.mapper.ConfNodeInfoMapper.queryNodeByProducts"
  									column="{productId = product_id}" fetchType="eager"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, node_id, uid, effect, sequence, teller, org,product_name, create_time, update_time, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conf_product_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from conf_product_node
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.conf.template.db.model.ConfProductNode">
    insert into conf_product_node (product_id, node_id, 
      uid, effect, sequence, teller, org,product_name)
    #{productId,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{effect,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, #{teller,jdbcType=VARCHAR}, #{org,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR})
  </insert>
  <select id="selectByCondition" parameterType="com.conf.template.db.model.ConfProductNode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from conf_product_node
    <where>
      <if test="productId != null and productId != ''">
	        and product_id = #{productId}
	  </if>
	  <if test="nodeId != null and nodeId != ''">
	        and node_id = #{nodeId}
	  </if>
	  <if test="uid != null and uid != ''">
	        and uid = #{uid}
	  </if>
	 </where>
  </select>
  <insert id="insertSelective" parameterType="com.conf.template.db.model.ConfProductNode">
     <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
   		SELECT LAST_INSERT_ID()
     </selectKey>
    insert into conf_product_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="effect != null">
        effect,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="teller != null">
        teller,
      </if>
      <if test="org != null">
        org,
      </if>
      <if test="productName != null">
        product_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="effect != null">
        #{effect,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        #{org,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.conf.template.db.model.ConfProductNode">
    update conf_product_node
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="effect != null">
      	 effect = #{effect,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="teller != null">
        teller = #{teller,jdbcType=VARCHAR},
      </if>
      <if test="org != null">
        org = #{org,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.conf.template.db.model.ConfProductNode">
    update conf_product_node
    set product_id = #{productId,jdbcType=INTEGER},
      node_id = #{nodeId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      effect = #{effect,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      teller = #{teller,jdbcType=VARCHAR},
      org = #{org,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByProductAndNodeId" >
    delete from conf_product_node
    where node_id = #{nodeId}
    and product_id = #{productId}
  </delete>
  
  <update id="deleteForLogicByProductAndNodeId">
  	update conf_product_node
  	set  delete_flag = 1
 	where node_id = #{nodeId}
    and product_id = #{productId}
  </update>

  <select id="queryProductIdCount"  resultType="java.lang.Integer">
    select 
    COUNT(DISTINCT product_id)
    from conf_product_node 
    where delete_flag = 0
    limit #{startNum},#{pageSize}
  </select>
  <select id="batchQueryNodeByProduct" resultMap="NodeByProductMap">
  	select DISTINCT product_id ,product_name
  	from conf_product_node 
  	where delete_flag = 0
    limit #{startNum},#{pageSize}
  </select>
  
  <update id="updateEffectStatus">
  update conf_product_node
  set effect = #{effect},
  sequence = #{sequence}
  where  node_id = #{nodeId}
    and product_id = #{productId}
    and uid = #{uid}
    and delete_flag = 0
  </update>
  
  <update id="updateInvalidStatus">
  	update conf_product_node
  	set effect = #{effect},
  	sequence = #{sequence}
  	where  node_id = #{nodeId}
   	and product_id = #{productId}
   	and uid not in 
   	<foreach item="item" index="index" collection="list" open="("
            separator="," close=")">
            #{item}  
     </foreach>
    and delete_flag = 0
  </update>
  
</mapper>